In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

In [ ]:
df = pd.read_csv("/content/factors.csv")

In [ ]:
df.sample(5)

,Timestamp,Respondent name,E-mail,Gender,Age,1. Study Habit \nPlease Select all that apply from the below list-\n,2. Home related aspects\n Please Select all that apply from the below list-,3. Learning Facilities\n Please Select all that apply from the below list-,4. Proper Guidance\n Please Select all that apply from the below list-,5. Family Monthly Income-,6. Economic Status of family-,7. Mothers Educations,8. Fathers Educations,9. Last Exam result GPA/CGPA-
185,12/6/2022 1:11:26,Mahin Rayhan,mahinrayhan2016@gmail.com,Male,22-24,I Study 4 hours daily on average,"3. I don't live with my parents, 4. Both my pa...",5. Scholarship Facilities are unavailable,3. Home tutor is need,20000-40000,Mid - middle,college / University,college / University,A
370,12/6/2022 23:55:44,Nahidul Islam,NaN,Male,22-24,"I copy the assignment of friends, I am disturb...","1. I live far from my institute, 3. I don't li...",1. There is not enough facilities in my instit...,"2. Teacher's instruction is poor, 3. Home tuto...",20000-40000,lower-middle,Illiterate,Primary,A-
341,12/6/2022 23:06:09,Rifa Nanziba,rifa.nanziba233@gmail.com,Female,22-24,I Study 4 hours daily on average,"1. I live far from my institute, 5. I do to mu...",3. No. of classroom is inadequate,1. Parent's motivation and observation is poor,above 40000,Mid - middle,Secondary,college / University,B+
184,12/6/2022 1:09:28,Benzir kamal ananna,anannakamaldu93@gmail.com,Female,25-27,I study less than 4 hours a day,2. I live near my institue,3. No. of classroom is inadequate,3. Home tutor is need,20000-40000,Mid - middle,college / University,college / University,A
721,12/9/2022 17:06:29,Sagor sarkar,Sagorsarkarsks17@gmail.com,Male,22-24,I study less than 4 hours a day,1. I live far from my institute,3. No. of classroom is inadequate,3. Home tutor is need,20000-40000,lower-middle,Secondary,college / University,A

In [ ]:
df.columns

Index(['Timestamp', 'Respondent name', 'E-mail', 'Gender', 'Age',
       '1.  Study Habit  \nPlease Select all that apply from the below list-\n',
       '2. Home related aspects\n  Please Select all that apply from the below list-',
       '3. Learning Facilities\n  Please Select all that apply from the below list-',
       '4. Proper Guidance\n  Please Select all that apply from the below list-',
       '5. Family Monthly Income-', '6. Economic Status of family-',
       '7. Mothers Educations', '8. Fathers Educations',
       '9. Last Exam result GPA/CGPA-'],
      dtype='object')

In [ ]:
df1 = df.rename(columns={
   "1.  Study Habit  \nPlease Select all that apply from the below list-\n": 'hours_studied',
   "2. Home related aspects\n  Please Select all that apply from the below list-": 'living criteria',
   "3. Learning Facilities\n  Please Select all that apply from the below list-": 'facilities',
   "4. Proper Guidance\n  Please Select all that apply from the below list-": 'guidance',
   "5. Family Monthly Income-":'family_income',
   "6. Economic Status of family-":'economic_stutus',
   "7. Mothers Educations":'mothers_education',
   "8. Fathers Educations":'fathers_education',
   "9. Last Exam result GPA/CGPA-": 'result'

    })

In [ ]:
df1.columns

Index(['Timestamp', 'Respondent name', 'E-mail', 'Gender', 'Age',
       'hours_studied', 'living criteria', 'facilities', 'guidance',
       'family_income', 'economic_stutus', 'mothers_education',
       'fathers_education', 'result'],
      dtype='object')

In [ ]:
df1.head()

,Timestamp,Respondent name,E-mail,Gender,Age,hours_studied,living criteria,facilities,guidance,family_income,economic_stutus,mothers_education,fathers_education,result
0,11/26/2022 22:01:53,Mohammad Sagor Sarker,NaN,Male,22-24,I Study 4 hours daily on average,"2. I live near my institue, 6. I have many bro...",1. There is not enough facilities in my instit...,1. Parent's motivation and observation is poor...,20000-40000,Mid - middle,Primary,Secondary,A+
1,11/26/2022 22:11:14,Anwar,NaN,Male,22-24,I study less than 4 hours a day,1. I live far from my institute,5. Scholarship Facilities are unavailable,1. Parent's motivation and observation is poor,Income less than 10000,Poor,Illiterate,Secondary,A-
2,11/26/2022 22:40:14,Mahfuzur Rahman,NaN,Male,22-24,"I Study 4 hours daily on average, I study more...","1. I live far from my institute, 3. I don't li...",1. There is not enough facilities in my instit...,2. Teacher's instruction is poor,10000-20000,lower-middle,Illiterate,Illiterate,B-
3,11/26/2022 22:46:48,MMD SHAHARIAR SHAHARIAR YOUSUF KAMAL,NaN,Male,22-24,I Study 4 hours daily on average,"2. I live near my institue, 6. I have many bro...",1. There is not enough facilities in my instit...,5. Home Tutor is teacher of own institute,20000-40000,Mid - middle,college / University,college / University,A-
4,11/27/2022 0:40:29,Dipanto guho utsho,NaN,Male,22-24,I study more than 4 hours a day,2. I live near my institue,5. Scholarship Facilities are unavailable,2. Teacher's instruction is poor,20000-40000,Mid - middle,college / University,college / University,C

In [ ]:
df1.columns

Index(['Timestamp', 'Respondent name', 'E-mail', 'Gender', 'Age',
       'hours_studied', 'living criteria', 'facilities', 'guidance',
       'family_income', 'economic_stutus', 'mothers_education',
       'fathers_education', 'result'],
      dtype='object')

In [ ]:
df = df1.loc[:, ['Gender', 'Age', 'hours_studied', 'economic_stutus', 'mothers_education', 'fathers_education', 'result']]

In [ ]:
# df.to_csv('factors_cleaned.csv', index = False)

In [ ]:
df.sample(10)

,Gender,Age,hours_studied,economic_stutus,mothers_education,fathers_education,result
606,Male,22-24,"I prefer social media more than study, I study...",lower-middle,college / University,college / University,A+
781,Male,22-24,I study only when there is exam,Mid - middle,college / University,college / University,A+
22,Female,22-24,I study only when there is exam,Rich,Secondary,Secondary,A
741,Male,22-24,I study only when there is exam,Mid - middle,Secondary,Secondary,A
365,Male,22-24,I study less than 4 hours a day,Mid - middle,Illiterate,Illiterate,B
540,Female,19-21,I study less than 4 hours a day,Mid - middle,Secondary,Secondary,A
615,Male,22-24,I study only when there is exam,lower-middle,Secondary,Secondary,B
576,Male,19-21,I study only when there is exam,lower-middle,Primary,Primary,A+
130,Male,22-24,"I am disturbed when studying, I study only whe...",lower-middle,Primary,college / University,B
613,Male,19-21,I Study 4 hours daily on average,lower-middle,Secondary,college / University,A

In [ ]:
df.dtypes

Gender               object
Age                  object
hours_studied        object
economic_stutus      object
mothers_education    object
fathers_education    object
result               object
dtype: object

In [ ]:
df['Age'].unique()

array(['22-24', '19-21', '16-18', '28-30', '25-27', '<16', '>30'],
      dtype=object)

In [ ]:
df['Age'].replace('<16', '15-16', inplace=True)

In [ ]:
df['Age'].replace('>30', '30-32', inplace=True)

In [ ]:
df['Age'] = df['Age'].str.split('-').apply(lambda x: int(x[0]))

In [ ]:
df["economic_stutus"].unique()

array(['Mid - middle', 'Poor', 'lower-middle', 'Rich'], dtype=object)

In [ ]:
mapping = {'Mid - middle': 2, 'Poor': 0, 'lower-middle': 1, 'Rich': 3}
df['economic_stutus'] = df['economic_stutus'].replace(mapping)

In [ ]:
df["mothers_education"].unique()

array(['Primary', 'Illiterate', 'college / University', 'Secondary'],
      dtype=object)

In [ ]:
mapping = {'Illiterate': 0, 'Primary': 1, 'Secondary': 2, 'college / University': 3}
df['mothers_education'] = df['mothers_education'].replace(mapping)

In [ ]:
df["fathers_education"].unique()

array(['Secondary', 'Illiterate', 'college / University', 'Primary'],
      dtype=object)

In [ ]:
mapping = {'Illiterate': 0, 'Primary': 1, 'Secondary': 2, 'college / University': 3}
df['fathers_education'] = df['fathers_education'].replace(mapping)

In [ ]:
df['result'].unique()

array(['A+', 'A-', 'B-', 'C', 'B', 'B+', 'A', 'C+', 'D', 'F'],
      dtype=object)

In [ ]:
mapping = {'A+': 4, 'A':3.75,'A-':3.5, 'B+':3.25, 'B':3.0,'B-':2.75,'C+':2.50, 'C':2.25, 'D':2.0,'F':0}
df['result'] = df['result'].replace(mapping)

In [ ]:
mapping = {'Male':0, 'Female':1}
df['Gender'] = df['Gender'].replace(mapping)

In [ ]:
# df.to_csv('cleaned2.csv', index = False)

In [ ]:
df.sample(10)

,Gender,Age,hours_studied,economic_stutus,mothers_education,fathers_education,result
246,0,22,"I am disturbed when studying, I study only whe...",1,2,3,3.50
460,0,22,"I copy the assignment of friends, I study less...",0,3,3,3.75
450,0,22,I Study 4 hours daily on average,2,1,2,3.00
520,1,22,I study only when there is exam,1,3,3,4.00
694,0,22,I study more than 4 hours a day,1,0,1,3.25
297,0,22,"I am disturbed when studying, I prefer social ...",1,1,1,3.50
704,0,22,I Study 4 hours daily on average,1,2,3,4.00
9,0,22,I study less than 4 hours a day,2,0,2,3.50
101,0,22,"I am disturbed when studying, I prefer social ...",1,2,3,3.25
683,0,22,I study less than 4 hours a day,1,1,2,3.75

In [ ]:
df.isna().sum()

Gender               0
Age                  0
hours_studied        0
economic_stutus      0
mothers_education    0
fathers_education    0
result               0
dtype: int64

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.drop_duplicates(inplace = True)

In [ ]:
df.shape

(713, 7)

In [ ]:
df.dtypes

Gender                 int64
Age                    int64
hours_studied         object
economic_stutus        int64
mothers_education      int64
fathers_education      int64
result               float64
dtype: object